.venv/
__pycache__/
*.pyc
.env
output/
.idea/
.vscode/
var/

# macOS
.DS_Store

# Database files
data/
*.sqlite
*.db

# Build artifacts
*.egg-info/
dist/
build/

# Temporary files
archivos/

# Editor config
.cursor/